@media only screen and (max-width: 1200px){
    .full-menu{display: none;}
    .info-banner h1{font-size: 2.5rem;}
    .info-banner p{font-size: 1.5rem;}

    .rodape{
        flex-direction: column;
    }
    .rodape small{
        padding-bottom: 1rem;
        display:block;
    }
    .rodape .m-social{padding: 1rem 0;}
}